<div class="container-fluid">
  <div class="row">
    <div class="min-vh-100 col-xl-3 col-lg-3 col-md-5 col-sm-6 d-none d-sm-block pt-4" style="background: #efefef">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active"role="tab" aria-controls="v-pills-home" aria-selected="true">
          Housework
        </a>
        <a class="nav-link" role="tab" aria-controls="v-pills-profile" aria-selected="false">
          Housework
        </a>
        <a class="nav-link" role="tab" aria-controls="v-pills-messages" aria-selected="false">
          Housework
        </a>
        <a class="nav-link" role="tab" aria-controls="v-pills-settings" aria-selected="false">
          Housework
        </a>
      </div>
    </div>
    <div class="min-vh-100 col-xl-5 col-lg-5 col-md-7 col-sm-6 col-12">
      Items
    </div>
    <div class="min-vh-100 col-xl-4 col-lg-4 d-none d-lg-block" style="background: #efefef">
      Details
    </div>
  </div>
</div>