<h1 class="display-2">Your group of tasks</h1>
<p class="lead">Summary 3 of 11 tasks done in 3 groups</p>

<ng-container *ngIf="context$ | async as context" class="list-group">

  <p>

    <button type="button" class="btn btn-info btn-lg btn-block" (click)="openCreateGroupPopup()">
      <mat-icon>add_circle</mat-icon>
      Add group
    </button>

  </p>

  <ul *ngIf="context.lists; else noItems" class="list-group" cdkDropList (cdkDropListDropped)="listDropped($event)">
    <li *ngFor="let list of context.lists; let index = i"
        class="list-group-item"
        [class.optimistic]="list.optimistic"
        [class.failed]="list.failed"
        [cdkDragDisabled]="list.optimistic || list.failed"
        cdkDrag
    >
      <h3 ngbDropdown>
        {{list.title}}
        <span class="badge badge-pill badge-info">
          {{ list.countOfDone }} / {{ list.totalCount }}
        </span>
        &nbsp;
        <a href="javascript:;" class="text-muted text-decoration-none" ngbDropdownToggle>
          <mat-icon [inline]="true">more_horiz</mat-icon>
        </a>
        <div ngbDropdownMenu aria-labelledby="Actions menu">
          <ng-container *ngIf="!list.optimistic && !list.failed; else optimisticItemMenu">
            <button ngbDropdownItem>
              <mat-icon>done_all</mat-icon>
              Mark all as done
            </button>
            <button ngbDropdownItem>
              <mat-icon>check_box_outline_blank</mat-icon>
              Mark all as undone
            </button>
            <button ngbDropdownItem>
              <mat-icon>edit</mat-icon>
              Edit
            </button>
            <button ngbDropdownItem>
              <mat-icon>delete_outline</mat-icon>
              Delete
            </button>
          </ng-container>
          <ng-template #optimisticItemMenu>
            <button ngbDropdownItem *ngIf="list.failed">
              <mat-icon>replay</mat-icon>
              Try again
            </button>
            <button ngbDropdownItem>
              <mat-icon>not_interested</mat-icon>
              Cancel creation
            </button>
          </ng-template>
        </div>
      </h3>
      <p>
        <span class="text-muted">
          <mat-icon>done_all</mat-icon>
        </span>
        {{list.description}}
      </p>
    </li>
  </ul>

  <br>

  <div class="card">
    <div class="card-header">
      <small>
        <a href="#" class="text-dark text-decoration-none">
          <mat-icon>done_all</mat-icon>
          Complete all
        </a>
        &nbsp;
        <span class="text-muted">•</span>
        &nbsp;
        <a href="#" class="text-dark text-decoration-none">
          <mat-icon>not_interested</mat-icon>
          Reset all
        </a>
        &nbsp;
        <span class="text-muted">•</span>
        &nbsp;
        <a href="#" class="text-dark text-decoration-none">
          <mat-icon>delete_outline</mat-icon>
          Clear completed
        </a>
      </small>
    </div>
  </div>

  <ng-template #noItems>
    You have no lists of task yet! Do you want to create?
  </ng-template>

</ng-container>

<!--<lib-edit-group></lib-edit-group>-->